@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  font-family: 'Lato', sans-serif;
}

// Typography
.heading {
  margin: 0;

  &__primary {
    font: {
      size: 30px;
    }
  }

  &__secondary {
    font: {
      size: 25px;
    }
  }

  &__tertiary {
    font: {
      size: 20px;
    }
  }
}
// END

// Buttons
.btn {
  display: grid;
  place-content: center;
  border: none;

  &:focus {
    box-shadow: none !important;
  }

  &__primary {
    background-color: #048444;
    color: #fff !important;

    &:hover {
      background-color: darken(#048444, 10%);
    }

    &.muted {
      background-color: #2C3434;
      color: #fff !important;

      &:hover {
        background-color: darken(#2C3434, 10%);
      }
    }

    &.danger {
      background-color: #CC2404;
      color: #fff !important;

      &:hover {
        background-color: darken(#CC2404, 10%);
      }
    }
  }
}
// END

.Todos {
  &__container {
    min-height: 300px;
    max-height: 500px;
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
    background-color: #2C3434;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}